{{!< layout/main}}

<div class="game">
  <div class="gamefield">

    <div class="board">

      {{#each rows}}
        <div class="row">

          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>

        </div>
      {{/each}}

    </div>

    <div class="board">

      {{#each rows}}
        <div class="row">

          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>

        </div>
      {{/each}}

    </div>

  </div>
</div>