<h2>Play Battleships with friends<br>or random people</h2>
<div class="center-wrapper">
  <div class="container">

    <div class="background-container">


      <div class="wrapper">

        <div class="stat-box">
          <div class="statslabel">Games played</div>
          <div class="stats">69</div>
        </div>
        <div class="stat-box stat-box-big">
          <div class="statslabel" style="font-size: 250%">Players online</div>
          <div class="stats">42</div>
        </div>
        <div class="stat-box">
          <div class="statslabel">Ongoing games</div>
          <div class="stats">8</div>
        </div>

      </div>
    </div>


  </div>
  <div style="padding:5%"><a href="/game">Play</a></div>
</div>